.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  min-width: 600px;
  margin: 0 auto;
  border: 5px solid #000;
}

.input {
  border: 5px solid #000;
  padding: 10px 15px;
  border-radius: 10px;
}

.validInput {
  border-color: limegreen;
}

.invalidInput {
  border-color: red;
}